.Order {
    display: flex;
    margin: 1px;
    width: 500px;
    padding: 0 5px;
    color: #222222;
}

.remove {
    font-size: 30px;
    padding: 0 5px;
    color: black;
    font-weight: bold;
    border: 2px solid black;
}
.name, .price, . number {
    display: flex;
}