.Item {
    display: inline-block;
    margin: 10px;
    border: 1px solid lightpink;
    box-shadow: 0 2px 2px pink;
    width: 250px;
    padding: 20px;
    border-radius: 10%;
}
.click {
    font-size: 20px;
    background-color: hotpink;
    padding: 10px;
    color: #ffffff;
}