.App {
  text-align: center;
  width: 80%;
  margin: 0px auto;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.Container {
  display: flex;
}

.AddItems, .OrderDetails {

  border: 2px solid black;
  margin: 15px;
  padding: 10px 0;
}
p {
  padding: 3px 5px;
}
